<!DOCTYPE html>
<html>
  <head>
      <title>Error</title>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <style>
    body {
      align-items: center;
      justify-content: center;
      min-height: 50vh;
      min-width: 50vw;
      text-align: center;
    }
    #cont{
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-top: 250px;
      margin-bottom: 250px;
      display: flex;
      flex-direction: column;
    }
    </style>
  </head>
<body>
    <div class="cont" id="cont">
      <div class="column" id="column">
        <span class="material-symbols-outlined" style="font-size: 150px;border: none;">
          engineering
          </span>
        <h1>
          Error
        </h1>
          <p>We are Sorry for this error we are doing our best to fix it 
            <span style="font-weight: bold;">
              ASAP
            </span> 
            .</p>
            <p>
              An error occurred while processing your request:
            </p>
            <p>
              {{ error }}
            </p>
          <p style="font-weight: bold;">
             Please Try agian !
            </p>
      </div>
    </div>
  </body>
</html>
