<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yusefturin</title>
    <link rel = "icon" href = 
    "/static/images/img_icon.png" 
            type = "image/x-icon">
    <link rel= "stylesheet" href=
     "{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <div class="container">
        <svg preserveAspectRatio="xMidYMid slice" viewBox="10 10 80 80">
            <defs>
                <style>

                </style>
            </defs>
            <path fill="#284655" class="out-top" d="M37-5C25.1-14.7,5.7-19.1-9.2-10-28.5,1.8-32.7,31.1-19.8,49c15.5,21.5,52.6,22,67.2,2.3C59.4,35,53.7,8.5,37-5Z"/>
            <path fill="#D0E1F9" class="in-top" d="M20.6,4.1C11.6,1.5-1.9,2.5-8,11.2-16.3,23.1-8.2,45.6,7.4,50S42.1,38.9,41,24.5C40.2,14.1,29.4,6.6,20.6,4.1Z"/>
            <path fill="#4D648D" class="out-bottom" d="M105.9,48.6c-12.4-8.2-29.3-4.8-39.4.8-23.4,12.8-37.7,51.9-19.1,74.1s63.9,15.3,76-5.6c7.6-13.3,1.8-31.1-2.3-43.8C117.6,63.3,114.7,54.3,105.9,48.6Z"/>
            <path fill="#1E1F26" class="in-bottom" d="M102,67.1c-9.6-6.1-22-3.1-29.5,2-15.4,10.7-19.6,37.5-7.6,47.8s35.9,3.9,44.5-12.5C115.5,92.6,113.9,74.6,102,67.1Z"/>
        </svg>
        <div class="wrap_links_image">
            
                <div class="rectangle_wrapper_image">
                    <img src="/static/images/IMG_8056.png" alt="Image Description">
                </div>
                <div class="wrap_links">
                    <div class="links_display">
                        <div class="wrap_github">
                            <div class="githup_label">
                                <a style="text-decoration:none" href="https://github.com/yousefturin" class="animated-link">
                                    <img src="/static/images/github.png" alt="buttonpng" id="img_github" style="width: 50px; height: 50px;">
                                    <p>GitHub</p>
                                </a>
                            </div>
                        </div>
                        <div class="wrap_linkedin" >
                            <div class="linkedin_lable">
                                <a style="text-decoration:none" href="https://www.linkedin.com/in/yusef-rayyan-b82420199/" class="animated-link">
                                    <img src="/static/images/linkedin.png"  alt="buttonpng" id="img_linkedin" style="width: 50px; height: 50px;">
                                    <p>Linkedin</p>
                                </a>
                            </div>
                        </div>
                        <div class="wrap_inst">
                            <div class="instagram_label">
                                <a style="text-decoration:none" href="https://www.instagram.com/yusefturin/" class="animated-link">
                                    <img src="/static/images/instagram.png"  alt="buttonpng" id="img_instaram" style="width: 50px; height: 50px;">
                                    <p>instagram</p>
                                </a>
                            </div>
                        </div>
                        <div class="wrap_website">
                            <div class="portfolio_label">
                                <a style="text-decoration:none;" href="https://yusefturin.netlify.app/" class="animated-link">
                                    <img src="/static/images/world-wide-web.png"  alt="buttonpng" id="img_website" style="width: 50px; height: 50px;">
                                    <p>Portfolio</p>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>     
        
                    <div class=" footer">
                        <p>© Copyrights YUSEFTURIN. All rights reserved <span id="current-year"></span></p>
                        <p>Turkey | <a style="text-decoration:none;font-weight: bold;" href="mailto:yusefturin@gmail.com">contact@yusefturin.com</a></p>
                
                    </div>
                

        </div>
    </div>
    <script 
        src="{{url_for('static', filename='styles/slider.js')}}">
</script>
</body>


</html>